.App{
  min-height: 100vh!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userPicBg{
  background: linear-gradient(180deg, hsla(210, 79%, 46%, 1) 0%, hsla(210, 67%, 58%, 1) 23%, hsla(210, 67%, 66%, 1) 46%, hsla(210, 67%, 76%, 1) 65%, hsla(209, 67%, 83%, 1) 77%, hsla(210, 67%, 91%, 1) 99%, hsla(0, 0%, 100%, 1) 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppRouterLinks{
  text-decoration: none!important;
  color:white
}

.itemCard{
  background-color:#f7faff !important;
  margin-left:auto !important;
  margin-right:auto !important;
  border-radius:1rem !important;
  margin-bottom:1rem !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}