body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling the scrollbar in Chrome */
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(32, 145, 237);
  border-radius: 1rem;
}
/* Styling the scrollbar in Firefox */
::-moz-scrollbar {
  width: 13px;
}
::-moz-scrollbar-thumb {
  background-color: rgb(32, 145, 237);
  border-radius: 1rem;
}
/* Styling the scrollbar in Safari */
::-webkit-scrollbar {
  width: 13px;
  
}
::-webkit-scrollbar-thumb {
  background-color: rgb(32, 145, 237);
  border-radius: 1rem;
}